* {
    background-color: rgb(43, 42, 42);
    color: whitesmoke;
    font-family: 'Roboto Mono';
}
@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Medium.ttf');
}
.flexBox {
    display: flex;
    align-items: center;
    place-content:center
}