:root {
    --bg-color: #292a30;
    --text-color: #f8f8f2;
    --purple: #bd93f9;
    --red: #ff5555;
    --green: #50fa7b;
    --yellow: #f1fa8c;
    --blue: #8be9fd;
    --orange: #ffb86c;
    --bluegreen: #3eb794;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Medium.ttf');
}

* {
    font-family: 'Roboto Mono';
    color: var(--text-color);
    text-align: center;
}

html {
    background-color: var(--bg-color);
}

h1, h2, h3, h4, p {
    background-color: inherit;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.projectContainer {
    width: 25em;
    height: 12em;
    margin: 1em;
    padding: .25em;
    border: 2px solid var(--text-color);
    transition-duration: 0.5s;
    background-color: var(--bg-color);
}
.projectContainer:hover {
    transform: scale(1.25);
    z-index: 1;
    box-shadow: 0 0 10px 10px #f8f8f286;
    transition-duration: 0.5s;
}

.projectContainer:active {
    transform: scale(0.85);
    transition-duration: 0.5s;
}



#mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--text-color);
    transition-duration: 0.5s;
}

#footer:hover {
    color: var(--purple);
    transition-duration: 0.5s;
}

#headerText {
    color: var(--text-color);
    transition-duration: 0.5s;
}

#headerText:hover {
    color: var(--purple);
    transition-duration: 0.5s;
}