@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Medium.ttf');
}
html {
    font-family: 'Roboto Mono';
}
@supports (font-variation-settings: normal) {
    html {
        font-family: 'Roboto Mono';
    }
}

#waterfall {
    margin: auto;
}

.item {
    background-color: rgb(32, 32, 32);
    transition: 250ms all ease-out;
    margin-bottom: 20px;
    width: 350px;
}

.item:hover {
    transform: scale(1.025);
    z-index: 1;
    box-shadow: 0 0 10px 10px #00000044;
}

.item:active {
    transform: scale(0.975);
}

body {
    background-color: #4e4e4e;
    color: #fff;
    margin: 20px;
}

img {
    max-width: 350px;
    width: calc(100vw - 40px);
}

.title {
    font-size: 25px;
}

.desc {
    padding: 0 20px 10px 20px;
}

h1,
.subtitle {
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}

/* https://matthewjamestaylor.com/bottom-footer */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding: 10px;
    padding-bottom: 60px; /* Height of the footer */
}

#footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    height: 40px; /* Height of the footer */
    background-color: #282828;
    color: #bbb;
    padding: 10px;
    font-size: 12px;
}

#footer a {
    color: #bbb;
    text-decoration: underline;
}
