---
import '../css/global.css'
import NavigationBar from '../components/NavigationBar.astro'
---

<html>
    <title>About Me</title>
</html>
<body>
    <h1><span class="text-gradient-light-purple"></span></h1>
		<hr>
	<NavigationBar />
</body>