---
import '../css/global.css'
import NavigationBar from '../components/NavigationBar.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mrbacon470.github.io</title>
	</head>
	<body>
		<h1>Hi I'm <span class="text-gradient-light-purple">Void</span></h1>
		<hr>
		<NavigationBar />
		
		<Footer />
	</body>
</html>


<style>
	
</style>
