---
import '../css/global.css'
import NavigationBar from '../components/NavigationBar.astro';
import Footer from '../components/Footer.astro';
import Project from '../components/Project.astro';
---
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/Images/VoidWish.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>mrbacon470.github.io</title>
</head>
<body>
    <h1><span class="text-gradient-light-purple">Projects</span></h1>
    <hr>
    <NavigationBar />
    <h3>Web Based Projects</h3>
   

    <Footer />
</body>